@model IEnumerable<MasterPiece.Models.Service>

@{
    ViewBag.Title = "GetServices";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<div class="main-container">
    <div class="pd-ltr-20">
        <h1>All Services</h1>

        <div class="table-container">
            <table class="table table-bordered table-hover table-responsive-sm table-sm shadow-sm">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Service Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th scope="row">
                                @Html.DisplayFor(modelItem => item.ServiceName)
                            </th>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                <a href="@Url.Action("Edit", new { id = item.ServiceID })" class="btn btn-sm btn-primary">Edit</a>
                                <a href="@Url.Action("Delete", new { id = item.ServiceID })" class="btn btn-sm btn-danger">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <!-- HTML for Pagination Controls (if required) -->
        <!-- <div id="pagination-container" class="d-flex justify-content-center mt-4"></div> -->
    </div>
</div>
<style>
    .table .thead-light th {
        text-align: center;
        color: #000;
        vertical-align: middle;
        background-color: #99005c;
        border-color: #99005c;
    }

    th {
        background-color: white;
        text-align:center;
    }
    td {
        background-color: white;
    }
    @@media (max-width: 426px) {
        .btn-primary {
            color: #fff;
            background-color: #1b00ff;
            border-color: #1b00ff;
            width: 59px;
            margin: 2px;
        }
    }

        .fa-book-reader:before {
            content: "\f5da";
            margin-left: 38px;
        }

        .text-primary {
            color: #99005C !important;
        }

        .left-side-bar {
            background-color: white;
        }

        .bi-file-earmark-text::before {
            content: "\f38b";
            color: #212529;
        }

        .sidebar-menu .dropdown-toggle {
            display: block;
            padding: 14px 15px 14px 67px;
            font-size: 15px;
            color: #000;
            font-weight: 500;
            position: relative;
            border-radius: 8px;
            font-family: 'Inter', sans-serif;
            -webkit-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
        }

        .bi-house::before {
            content: "\f425";
            color: #000;
        }

        .sidebar-menu > ul > li > .dropdown-toggle.active {
            background-color: rgba(236, 240, 244, .19);
            color: black;
        }

        .header-left {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            height: 100%;
            width: 50%;
            background: #99005c;
        }

        .header-right {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: end;
            -ms-flex-pack: end;
            justify-content: flex-end;
            height: 70px;
            width: 50%;
            background-color: #99005c;
        }

        .toggle:hover, .sidebar-menu .show > .dropdown-toggle {
            background: rgba(236, 240, 244, .19);
            color: #000;
        }

        .sidebar-menu .submenu li a {
            display: block;
            padding: 14px 15px 14px 60px;
            font-size: 14px;
            color: #000;
            font-weight: 400;
            border-radius: 8px;
            position: relative;
            font-family: 'Inter', sans-serif;
        }

        .sidebar-menu .dropdown-toggle:hover, .sidebar-menu .show > .dropdown-toggle {
            background: rgba(236, 240, 244, .19);
            color: #000;
        }
    .h1, h1 {
        font-size: 37.37px;
        text-align: center;
        color: #103741;
        font-family: 'Lobster Two', cursive;
        font-weight: 700;
        line-height: 1.2;
    }
	</style>